<div class="filter d-flex">

    <div class="row flex-grow-1">

        <div *ngFor="let field of filterFields" class="col-6 col-lg-4 col-xl-3 filter-fields">
            <label class="form-label" for="{{field.name}}">{{field.name}}</label>

            <input 
                *ngIf="field.filterType !== 'select' && !field.isObject"
                class="form-control form-control-sm shadow-none" 
                type="{{field.filterType}}" 
                name="{{field.name}}"
                id="{{field.id}}"
                [(ngModel)]="filterObj[field.apiField]"
            >

            <select
                *ngIf="field.filterType === 'select' && field.isObject"
                class="form-select form-select-sm form-control form-control-sm shadow-none" 
                [(ngModel)]="filterObj[field.apiField]"
            >
                <ng-container *ngIf="selectOptions">
                    <option 
                    *ngFor="let option of selectOptions[field.apiField]"
                    [value]="option.id"
                >
                    {{option.name}}
                </option>
                </ng-container>
            </select>
            

        </div>
      
    </div>
    <div class="d-flex align-items-start">
        <button 
            (click)="search()"
            class="filter-button"
            mat-icon-button>
            <mat-icon class="filter-search">search</mat-icon>
        </button>

        <button 
            (click)="clearFiltersAndReload()"
            class="filter-button"
            mat-icon-button>
            <mat-icon class="filter-clear">close</mat-icon>
        </button>
    </div>

</div>