<div class="filter">

    <div class="d-flex">
        <div *ngFor="let field of constants.fields">
            <div *ngIf="field.isFilterField" class="filter-fields w-100">
                
                <label class="form-label" for="{{field.name}}">{{field.name}}</label>

                <!-- GENERIC TYPE INPUT FIELD -->
                <input 
                    *ngIf="field.genericType && !field.filterType"
                    class="form-control form-control-sm shadow-none" 
                    type="{{field.genericType}}" 
                    name="{{field.name}}"
                    id="{{field.id}}"
                    [(ngModel)]="filterObj[field.apiObjectField]"
                >
                <!-- GENERIC TYPE INPUT FIELD -->

            </div>
        </div>
        <div class="d-flex">
            <button (click)="search()" class="filter-button" mat-icon-button>
                <mat-icon class="filter-search">search</mat-icon>
            </button>
            <button (click)="clearFilters()" class="filter-button" mat-icon-button>
                <mat-icon class="filter-clear">close</mat-icon>
            </button>
        </div>
    </div>

</div>