@import '../../../../styles.scss';

.navbar{
    height: 55px;
    background-color: white;
}

.brand {
    width: 240px;
    text-align: center;
}

img {
    width: 90px;
    margin-bottom: 5px;
}

.text-name {
    margin-left: 30px;
    font-size: 16px;
}

.logout {
    text-align: center;
    width: 200px;
    margin-left: auto;
}

a {
    text-decoration: none;
    color: $main-color;
}

a:hover {
    color: black
}
