<div class="main-table">
  <table class="table table-hover">
    <thead class="bg-main">
      <tr>
        <th
          *ngFor="let field of tableOptions.tableFields"
          scope="col"
          [style]="tableOptions.tableSpacing"
        >
          <span class="text-nowrap" (click)="orderBy(field.apiField)">
            {{ field.name }}
          </span>
        </th>
        <th scope="col">Opções</th>
      </tr>
    </thead>

    <tbody>
      <tr scope="row" *ngFor="let row of data?.content">
        <td
          class="y-align text-nowrap"
          *ngFor="let field of tableOptions.tableFields"
        >
          <div *ngIf="field.isObject">
            <span>
              {{ row[field.apiField][field.objectName] }}
            </span>
          </div>

          <div *ngIf="!field.isObject">
            <span *ngIf="field.tableType == 'currency'">
              {{ row[field.apiField] | currency : "R$ " }}
            </span>

            <span *ngIf="field.tableType == 'dateTime'">
              {{ row[field.apiField] | date : "dd/MM/yyyy hh:mm:ss" }}
            </span>

            <span *ngIf="field.tableType == 'date'">
              {{ row[field.apiField] | date : "dd/MM/yyyy" }}
            </span>

            <span *ngIf="!field.tableType">
              {{ row[field.apiField] }}
            </span>
          </div>
        </td>

        <td>
          <app-table-actions
            [rowId]="row.id"
            [constants]="constants"
            (outputAction)="broadcastAction($event)"
            [tableOptions]="constants.tableOptions"
          ></app-table-actions>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<mat-paginator
  [length]="paginationOptions.paginatorLength"
  [pageSize]="paginationOptions.pageSize"
  [pageSizeOptions]="paginationOptions.pageSizeOptions"
  [pageIndex]="paginationOptions.pageIndex"
  (page)="handlePageEvent($event)"
>
</mat-paginator>
