<div class="main-table">
  <table class="table table-hover">
    <thead class="bg-main">
      <tr>
        <th
          *ngFor="let field of tableOptions.tableFields"
          scope="col"
          [style]="tableOptions.tableSpacing"
        >
          <span class="text-nowrap" (click)="orderBy(field.apiField)">
            {{ field.name }}
          </span>
        </th>
        <th scope="col">Opções</th>
      </tr>
    </thead>

    <tbody>
      <tr scope="row" *ngFor="let row of data?.content">
        <td
          class="y-align text-nowrap"
          *ngFor="let field of tableOptions.tableFields"
        >
          <div *ngIf="field.isObject">
            <span>
              {{ row[field.apiField][field.objectName] }}
            </span>
          </div>

          <div *ngIf="!field.isObject">
            <span *ngIf="field.tableType == 'currency'">
              {{ row[field.apiField] | currency: "R$ " }}
            </span>

            <span *ngIf="!field.tableType">
              {{ row[field.apiField] }}
            </span>
          </div>
        </td>

        <td>
          <button
            mat-icon-button
            class="menu-button icone-opcoes"
            [matMenuTriggerFor]="menu"
            aria-label="Example icon-button with a menu"
          >
            <mat-icon>more_horiz</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button
              routerLink="../cadastro-{{ constants.route }}/{{ row.id }}"
              mat-menu-item
              class="icone-opcoes"
            >
              <mat-icon>edit</mat-icon>
              <span>Editar</span>
            </button>
            <button mat-menu-item class="icone-opcoes">
              <mat-icon>remove_circle_outline</mat-icon>
              <span>Excluir</span>
            </button>
          </mat-menu>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<mat-paginator
  [length]="paginationOptions.paginatorLength"
  [pageSize]="paginationOptions.pageSize"
  [pageSizeOptions]="paginationOptions.pageSizeOptions"
  [pageIndex]="paginationOptions.pageIndex"
  (page)="handlePageEvent($event)"
>
</mat-paginator>
