<div class="background mat-elevation-z11">
  <header>
    <h2>Cadastro de Produtos no Estoque</h2>
    <div class="header-division"></div>
  </header>

  <section name="inputs" class="row">
    <div class="form-group col-4">
      <label for="product">Produto</label>
      <div class="">
        <select
          class="form-select form-select-sm shadow-none"
          id="productToAdd"
          [(ngModel)]="currentProduct.product"
          (change)="onChangeProduct()"
        >
          <option [defaultSelected]="true" value=""></option>
          <option
            [ngValue]="product"
            *ngFor="let product of selectOptions.products"
          >
            {{ product.name }}
          </option>
        </select>
      </div>
    </div>

    <div class="form-group col-4">
      <label>Unidade</label>
      <div class="">
        <select
          class="form-select form-select-sm shadow-none"
          name="cras"
          id="cras"
          [(ngModel)]="currentProduct.cras"
        >
          <option value=""></option>
          <option [ngValue]="un" *ngFor="let un of selectOptions.cras">
            {{ un.name }}
          </option>
        </select>
      </div>
    </div>

    <div class="form-group col-3">
      <label> Quantidade </label>
      <input
        class="form-control form-control-sm shadow-none"
        type="number"
        min="1"
        [max]="currentProduct.product.quantity"
        name="quantity"
        id="quantity"
        [(ngModel)]="currentProduct.productQuantity"
        [disabled]="!currentProduct.product.quantity"
      />
    </div>

    <div class="col-1 add-product">
      <button
        (click)="addProductToList()"
        type="button"
        class="btn btn-secondary btn-add"
        [disabled]="disableAddButton()"
      >
        <span class="material-icons"> chevron_right </span>
      </button>
    </div>
  </section>

  <section name="productsList" class="mt-5">
    <table class="table table-hover">
      <thead>
        <tr>
          <th><span>Produto</span></th>
          <th><span>Unidade</span></th>
          <th><span>Quantidade</span></th>
          <th><span>&nbsp;</span></th>
        </tr>
      </thead>

      <tbody>
        <tr scope="row" *ngFor="let row of productsList; let i = index">
          <td>{{ row?.product?.name }}</td>
          <td>{{ row?.cras?.name }}</td>
          <td>{{ row?.productQuantity }}</td>
          <td>
            <button
              (click)="removeProductsFromList(row, i)"
              type="button"
              class="btn btn-remove"
            >
              <span class="material-icons">delete</span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </section>

  <section name="sendButton" class="d-flex">
    <button
      [disabled]="!productsList.length"
      class="btn shadow-none btn-sm btn-primary mt-5"
      type="submit"
      (click)="saveInStock()"
    >
    Enviar
    </button>
  </section>
</div>
