<div class="background mat-elevation-z11">
  <h2>{{ actionText }} Beneficiário</h2>
  <div class="linha"></div>

  <!-- #61b586 -->

  <form
    action="post"
    [formGroup]="beneficiaryRegistrationForm"
    (ngSubmit)="onSubmit()"
  >
    <!-- PRIMEIRA LINHA -->
    <div class="row">
      <input type="hidden" id="id" formControlName="id" />

      <!---------- NAME ---------->
      <div class="form-group col-12">
        <label for="name" class="label-size col-form-label"
          >Nome Completo</label
        >
        <div class="">
          <input
            [ngClass]="form('name')?.valid ? 'green-input' : 'default-input'"
            class="form-control form-control-sm shadow-none"
            formControlName="name"
            type="text"
            id="name"
          />

          <div
            class="customFormError m-auto"
            role="alert"
            *ngIf="form('name')?.invalid && form('name')?.touched"
          >
            <div *ngIf="form('name')?.errors?.required">Campo Obrigatório</div>

            <div *ngIf="form('name')?.errors?.maxlength">
              Máximo 70 caracteres
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- SEGUNDA LINHA -->
    <div class="row mt-2">
      <!---------- RG ---------->
      <div class="form-group col-3">
        <label for="rg" class="label-size col-form-label">RG</label>
        <div class="">
          <input
            [ngClass]="
              form('rg')?.value && form('rg')?.valid
                ? 'green-input'
                : 'default-input'
            "
            class="form-control form-control-sm shadow-none"
            formControlName="rg"
            type="text"
            id="rg"
          />

          <!-- <div
            class="customFormError m-auto"
            role="alert"
            *ngIf="form('rg')?.invalid && form('rg')?.touched"
          >
            <div *ngIf="form('rg')?.errors?.required">Campo Obrigatório</div>

            <div *ngIf="form('rg')?.errors?.minlength">Mínimo 3 caracteres</div>

            <div *ngIf="form('rg')?.errors?.maxlength">
              Máximo 20 caracteres
            </div>
          </div> -->
        </div>
      </div>

      <!---------- CPF ---------->
      <div class="form-group col-3">
        <label for="cpf" class="label-size col-form-label">CPF</label>
        <div class="">
          <input
            [ngClass]="form('cpf')?.valid ? 'green-input' : 'default-input'"
            class="form-control form-control-sm shadow-none"
            formControlName="cpf"
            type="text"
            id="cpf"
          />

          <div
            class="customFormError m-auto"
            role="alert"
            *ngIf="form('cpf')?.invalid && form('cpf')?.touched"
          >
            <div *ngIf="form('cpf')?.errors?.required">Campo Obrigatório</div>

            <div *ngIf="form('cpf')?.errors?.minlength">
              Mínimo 3 caracteres
            </div>

            <div *ngIf="form('cpf')?.errors?.maxlength">
              Máximo 20 caracteres
            </div>
          </div>
        </div>
      </div>

      <!---------- DATA NASCIMENTO ---------->
      <div class="form-group col-3">
        <label for="birthDate" class="label-size col-form-label"
          >Data Nacimento</label
        >
        <div class="">
          <input
            [ngClass]="
              form('birthDate')?.valid ? 'green-input' : 'default-input'
            "
            class="form-control form-control-sm shadow-none"
            formControlName="birthDate"
            type="date"
            id="birthDate"
          />

          <!-- <div
            class="customFormError m-auto"
            role="alert"
            *ngIf="form('birthDate')?.invalid && form('birthDate')?.touched"
          >
            <div *ngIf="form('birthDate')?.errors?.required">
              Campo Obrigatório
            </div>

            <div *ngIf="form('birthDate')?.errors?.minlength">
              Mínimo 3 caracteres
            </div>

            <div *ngIf="form('birthDate')?.errors?.maxlength">
              Máximo 20 caracteres
            </div>
          </div> -->
        </div>
      </div>

      <!---------- TELEFONE ---------->
      <div class="form-group col-3">
        <label for="phoneNumber" class="label-size col-form-label"
          >Telefone</label
        >
        <div class="">
          <input
            [ngClass]="
              form('phoneNumber')?.value && form('phoneNumber')?.valid
                ? 'green-input'
                : 'default-input'
            "
            class="form-control form-control-sm shadow-none"
            formControlName="phoneNumber"
            type="tel"
            id="phoneNumber"
          />

          <!-- <div
            class="customFormError m-auto"
            role="alert"
            *ngIf="form('phoneNumber')?.invalid && form('phoneNumber')?.touched"
          >
            <div *ngIf="form('phoneNumber')?.errors?.required">
              Campo Obrigatório
            </div>

            <div *ngIf="form('phoneNumber')?.errors?.minlength">
              Mínimo 3 caracteres
            </div>

            <div *ngIf="form('phoneNumber')?.errors?.maxlength">
              Máximo 20 caracteres
            </div>
          </div> -->
        </div>
      </div>
    </div>

    <!-- TERCEIRA LINHA -->
    <div class="row mt-2">
      <!---------- CEP ---------->
      <div class="form-group col-3">
        <label for="zipCode" class="label-size col-form-label">CEP</label>
        <div class="">
          <input
            [ngClass]="form('zipCode')?.value && form('zipCode')?.valid ? 'green-input' : 'default-input'"
            class="form-control form-control-sm shadow-none"
            formControlName="zipCode"
            type="text"
            id="zipCode"
          />
<!-- 
          <div
            class="customFormError m-auto"
            role="alert"
            *ngIf="form('zipCode')?.invalid && form('zipCode')?.touched"
          >
            <div *ngIf="form('zipCode')?.errors?.required">
              Campo Obrigatório
            </div>

            <div *ngIf="form('zipCode')?.errors?.minlength">
              Mínimo 3 caracteres
            </div>

            <div *ngIf="form('zipCode')?.errors?.maxlength">
              Máximo 20 caracteres
            </div>
          </div> -->
        </div>
      </div>

      <!---------- ENDERECO ---------->
      <div class="form-group col-6">
        <label for="adress" class="label-size col-form-label">Endereço</label>
        <div class="">
          <input
            [ngClass]="form('adress')?.value && form('adress')?.valid ? 'green-input' : 'default-input'"
            class="form-control form-control-sm shadow-none"
            formControlName="adress"
            type="text"
            id="adress"
          />

          <!-- <div
            class="customFormError m-auto"
            role="alert"
            *ngIf="form('adress')?.invalid && form('adress')?.touched"
          >
            <div *ngIf="form('adress')?.errors?.required">
              Campo Obrigatório
            </div>

            <div *ngIf="form('adress')?.errors?.minlength">
              Mínimo 3 caracteres
            </div>

            <div *ngIf="form('adress')?.errors?.maxlength">
              Máximo 20 caracteres
            </div>
          </div> -->
        </div>
      </div>

      <!---------- NUMERO ---------->
      <div class="form-group col-3">
        <label for="houseNumber" class="label-size col-form-label"
          >Número</label
        >
        <div class="">
          <input
            [ngClass]="
            form('houseNumber')?.value && form('houseNumber')?.valid ? 'green-input' : 'default-input'
            "
            class="form-control form-control-sm shadow-none"
            formControlName="houseNumber"
            type="text"
            id="houseNumber"
          />

          <!-- <div
            class="customFormError m-auto"
            role="alert"
            *ngIf="form('houseNumber')?.invalid && form('houseNumber')?.touched"
          >
            <div *ngIf="form('houseNumber')?.errors?.required">
              Campo Obrigatório
            </div>

            <div *ngIf="form('houseNumber')?.errors?.minlength">
              Mínimo 3 caracteres
            </div>

            <div *ngIf="form('houseNumber')?.errors?.maxlength">
              Máximo 20 caracteres
            </div>
          </div> -->
        </div>
      </div>
    </div>

    <!-- QUARTA LINHA -->
    <div class="row mt-2">
      <!---------- Bairro ---------->
      <div class="form-group col-4">
        <label for="district" class="label-size col-form-label">Bairro</label>
        <div class="">
          <input
            [ngClass]="form('district')?.value &&
              form('district')?.valid ? 'green-input' : 'default-input'
            "
            class="form-control form-control-sm shadow-none"
            formControlName="district"
            type="text"
            id="district"
          />

          <!-- <div
            class="customFormError m-auto"
            role="alert"
            *ngIf="form('district')?.invalid && form('district')?.touched"
          >
            <div *ngIf="form('district')?.errors?.required">
              Campo Obrigatório
            </div>

            <div *ngIf="form('district')?.errors?.minlength">
              Mínimo 3 caracteres
            </div>

            <div *ngIf="form('district')?.errors?.maxlength">
              Máximo 20 caracteres
            </div>
          </div> -->
        </div>
      </div>

      <!---------- CIDADE ---------->
      <div class="form-group col-4">
        <label for="city" class="label-size col-form-label">Cidade</label>
        <div class="">
          <input
            [ngClass]="form('city')?.value && form('city')?.valid ? 'green-input' : 'default-input'"
            class="form-control form-control-sm shadow-none"
            formControlName="city"
            type="text"
            id="city"
          />

          <!-- <div
            class="customFormError m-auto"
            role="alert"
            *ngIf="form('city')?.invalid && form('city')?.touched"
          >
            <div *ngIf="form('city')?.errors?.required">Campo Obrigatório</div>

            <div *ngIf="form('city')?.errors?.minlength">
              Mínimo 3 caracteres
            </div>

            <div *ngIf="form('city')?.errors?.maxlength">
              Máximo 20 caracteres
            </div>
          </div> -->
        </div>
      </div>

      <!---------- CRAS ---------->
      <div class="form-group col-4">
        <label for="cras" class="label-size col-form-label">Unidade</label>
        <div class="">
          <select
            [ngClass]="form('cras')?.valid ? 'green-input' : 'default-input'"
            class="form-select form-select-sm shadow-none"
            formControlName="cras"
            name="cras"
            id="cras"
          >
            <option value=""></option>
            <option
              [ngValue]="un"
              [selected]="beneficiary?.cras?.name == un.name"
              *ngFor="let un of selectOptions.cras"
            >
              {{ un.name }}
            </option>
          </select>

          <div
            class="customFormError m-auto"
            role="alert"
            *ngIf="form('cras')?.invalid && form('cras')?.touched"
          >
            <div *ngIf="form('cras')?.errors">Campo Obrigatório</div>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex">
      <button class="btn shadow-none btn-sm btn-primary mt-5" type="submit">
        {{ actionText }}
      </button>
    </div>
  </form>
</div>
