.crud-template {
  background-color: white;
  border-radius: 5px;
}

.content-template {
  display: flex;
  padding: 20px 20px 0px 20px;
  justify-content: space-between;
  align-items: center;
}

.custom-btn-witdh {
  min-width: 100px;
}

.info {
  font-size: 16px;
  font-weight: 400;
}
