<div class="main-screen row">
  <div class="login mat-elevation-z11">
    <div class="row text-center my-4">
      <img class="login-logo" src="../../../assets/login-logo.svg" alt="" />
    </div>

    <form action="post" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="row col-9 m-auto mb-4">
        <label class="p-0" for="username">Usuário</label>
        <input
          formControlName="username"
          type="text"
          class="form-control shadow-none"
          id="username"
        />

        <div
          class="customFormError m-auto"
          role="alert"
          *ngIf="f.get('username')?.invalid && f.get('username')?.touched"
        >
          <div *ngIf="f.get('username')?.errors?.required">
            Campo Obrigatório
          </div>

          <div *ngIf="f.get('username')?.errors?.minlength">
            Mínimo 3 caracteres
          </div>

          <div *ngIf="f.get('username')?.errors?.maxlength">
            Máximo 20 caracteres
          </div>
        </div>
      </div>

      <div class="row col-9 m-auto mb-4">
        <label class="p-0" for="password">Senha</label>
        <input
          formControlName="password"
          type="password"
          class="form-control shadow-none"
          id="password"
        />

        <div
          class="customFormError m-auto"
          role="alert"
          *ngIf="f.get('password')?.invalid && f.get('password')?.touched"
        >
          <div *ngIf="f.get('password')?.errors?.required">
            Campo Obrigatório
          </div>

          <div *ngIf="f.get('password')?.errors?.minlength">
            Mínimo 6 caracteres
          </div>

          <div *ngIf="f.get('password')?.errors?.maxlength">
            Máximo 8 caracteres
          </div>
        </div>
      </div>

      <div class="row col-9 m-auto mb-5">
        <button type="submit" class="btn btn-primary mat-elevation-z6 shadow-none">
          Entrar
        </button>
      </div>
    </form>
  </div>
</div>
