
.main-screen {
    display: flex;
    justify-content: center;
    background-color: #f7f9fc;
    height: 100vh;
}

.login {
    margin-top: 100px;
    width: 400px;
    height: min-content;
    background-color: white;
    border-radius: 5px;
}

.login-logo {
    width: 307px;
    margin: auto;
}

